<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pizzaWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pizzaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pizzeria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B7BA7CD1D8D452B0062EA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7BA7E11D8D452B0062EA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7BA7EC1D8D452B0062EA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB83D291D96DF07004161D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
